### 2.2 숫자(Number)

In [1]:
import math

##### 1. 정수(Integer)

In [1]:
# +, -, *
4 + 3, 4 - 3, 4 * 3

(7, 1, 12)

In [2]:
# / : 정수 / 정수 --> 실수 
5 / 2

2.5

In [3]:
# 몫과 나머지
5 // 2,  5 % 2

(2, 1)

In [4]:
q, r = divmod(5, 2)
q, r

(2, 1)

- Quiz.  12개의 원소를 한 줄에 4개씩 3줄로 놓으려고 한다.
- row, col을 index의 식으로 표시하세요.

In [8]:
index = 7
row, col = index // 4, index % 4
row, col

(1, 3)

In [5]:
# 거듭 제곱
2 ** 10, math.pow(2, 10)

(1024, 1024.0)

In [7]:
# 실수 -> 정수 변환 
int(5.5), math.floor(5.5), math.ceil(5.5)

(5, 5, 6)

In [9]:
# 문자열 -> 정수 변환
int('34')

34

In [13]:
# 실수 문자열을 정수로 변환하는 것은 안 됨
# int('3.14')  // 에러 남
float('3.14')

3.14

In [12]:
# 타입
type(5), type(3.14), type('3.14')  # Floating point : 부동 소수점   

# 실수 : 1. float : 32bit, 2 . double : 64bit

(int, float, str)

In [15]:
sum = 0.
for i in range(1, 101):
    sum += i * 0.001
print(sum)

5.050000000000001

In [16]:
# 실수는 정확한 값을 표시할 수 없으므로 아래와 같은 표현은 잘못되 표현
if sum == 5.05:
    print('합은 5.05 입니다.')
else:
    print('합은 5.05가 아닙니다.')

합은 5.05가 아닙니다.

In [17]:
if abs(sum - 5.05) < 1e-10:
    print('합은 5.05 입니다.')
else:
    print('합은 5.05가 아닙니다.')

합은 5.05 입니다.

- 2진수(binary), 8진수(octal), 16진수(hexadecimal)

In [18]:
0b01000001  # 2진수

65

In [19]:
0o101       # 8진수

65

In [20]:
0x41        # 16진수

65

##### 2. 실수(Floating point)

In [21]:
3.5 + 2.1

5.6

In [22]:
4.3 - 2.7

1.5999999999999996

In [23]:
# 지수 표현
1.4e10  # 1.4 X 10**10

14000000000.0

In [25]:
31415926535e-10

3.1415926535

In [26]:
# 실수와 정수의 혼합 연산
4.2 + 5

9.2

In [29]:
# 값을 실수로 변환
float(3), float('3'), float('3.14')

(3.0, 3.0, 3.14)

##### 3. 연산자 우선 순위

In [31]:
3 * 5 + 4, 4 + 5  * 3

(19, 19)

In [33]:
# unary operatior : - 음수 표현
-3**-5*4

-0.01646090534979424

In [34]:
(-3**-5)*4, -3**(-5*4)

(-0.01646090534979424, -2.8679719907924413e-10)

In [9]:
print(2 + 2 - 2 * 2 / 2 * 2)

0.0

In [1]:
print(2 - 2 + 2 / 2 * 2 + 2)

4.0

In [7]:
int(0.2467 *12 + 4.159)

7

In [8]:
print(102*0.6 + 225)

286.2

- 그 외

In [15]:
# 음수
x = -10
x = -x      # 10
print(x)
x = -x
print(x)    # -10

10
-10

In [39]:
a, b, c = map(int, input().split())
print(a + b + c)

40

In [41]:
a, b, c, d = map(int, input().split())
print( (a+b+c+d)//4)    # 정수만 출력, 소수점음 버리기

50

In [53]:
print(10000000)     # 숫자가 클 경우
print(10_000_000)   # , 대신 _를 붙인다.
print(10,000,000)   # 튜플 자료형이 된다.

10000000
10000000
10 0 0

In [59]:
x = 1000
y = 1000
print(x is y)

_

False

1000000000