### 2.3 변수와 입력
- 변수

In [2]:
pi = 3.1415926535
pi + 2

5.1415926535

In [4]:
radius = 10
print(f'원의 둘레: { 2*pi*radius}')
print(f'원의 변적: { pi*radius**2}')

원의 둘레: 62.83185307
원의 변적: 314.15926535

- 복합 대입 연산자( +=, *=, -=, /=, %=, **=)

In [5]:
odd_sum = 0
for i in range(1, 100, 2):
    odd_sum += i
print(odd_sum)

2500

In [6]:
ten_factorial = 1
for i in range(1, 11):
    ten_factorial *= i
print(ten_factorial)

3628800

In [7]:
hello = ''
for i in range(3):
    hello += '안녕!'    # hello = '안녕!' * 3
print(hello)

안녕안녕안녕

- 표기법

In [9]:
# Snake notation
my_height = 175     # myHeight, camel notation
my_weight = 80      # myWeight, Java, JS에서 사용

In [10]:
한글변수 = 5
print(한글변수)

5

- 여러개의 변수

In [14]:
x, y, z = 10, 20, 30    # tuple unpacking

In [15]:
# Swapping(x와 y의 값을 서로 바꿈)이 편리
# 일반적인 언어
temp = x
x = y
y = temp
x, y

(20, 10)

In [16]:
# 파이썬에서는 아래와 같이 사용 가능
x, y = y, x
x, y

(10, 20)

- 값이 없을 경우

In [20]:
x = None    # Jave, JS의 null에 해당
print(x)

None

- 입력(input)

In [22]:
a = input('Prompt> ')
a, type(a)

('20', str)

In [23]:
# type 변환을 하지 않으면 엉뚱한 결과가 나온다.
a = input('첫번째 정수를 입력하세요> ')  # 3
b = input('두번째 정수를 입력하세요> ')  # 4

a + b       # 34

'34'

In [26]:
a = int(input('첫번째 정수를 입력하세요> '))    # 3
b = int(input('두번째 정수를 입력하세요> '))    # 4
a + b       # 7

10

In [28]:
# 인치 단위를 센치미터 단위로 변환
inch = float(input('인치값입력>  '))
cm = inch * 2.54
print(f'{inch} 인치는 {cm:.2f} 센티미터입니다.');

5.4 인치는 13.72 센티미터입니다.

- 입력값 여러개 받기

In [29]:
# 문자열 split() method
'10 20'.split()   # split 괄호안을 생략하면 ' '

['10', '20']

In [30]:
a, b = '10 20'.split() # list unpacking
a, b

('10', '20')

In [31]:
a, b = input('두 개의 숫자 입력> ').split()     # 3, 4
a, b

('3', '4')

In [32]:
a, b = input('두 개의 숫자 입력(,로 구분)> ').split(',')     # 3, 4
a, b

('3', '4')

In [33]:
# list 각 원소(element)에 함수를 적용하는 방법: map
list(map(int, ['10', '20'])) # [int('10'), int('20')]

[10, 20]

In [40]:
a, b = map(int, ['10', '20'])
a, b, type(a), type(b)

(10, 20, int, int, type)

In [43]:
# 첫번째 split()과 두번째 map()을 결합
a, b = map(int, input('두 개의 숫자 입력> ').split()) # 3 4
a, b, a+b

(3, 4, 7)

In [41]:
# x, y, z에 세개의 실수 입력값을 지정하고 싶을 경우
x, y, z = map(float, input('세 개의 실수를 입력 ').split())
x, y, z, x+y+z

(1.0, 2.0, 3.0, 6.0)

- 변수 이름으로 사용할 수 없는 것
    - 300, if(예약어), H-80(-들어가 있는 것) , 20seconds, 99% (숫자로 시작하는 것)

In [1]:
# 파이썬에서 쓰는 키워드
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']