### 4-1. for 반복문

In [8]:
l = [24, 35, 17, 39, 63]
for element in l:
    print(element, end=' ')

24 35 17 39 63

In [9]:
fruits = ['apple', 'banana', 'pineapple']
for fruit in fruits:
    print(fruit, len(fruit))

apple 5
banana 6
pineapple 9

In [11]:
list_sum = 0
for element in l:
    list_sum += element
print(list_sum, sum(l))

178 178

In [7]:
lengths = []
for fruit in fruits:
    lengths.append(len(fruit))
lengths

[5, 6, 9]

- 중첩 리스트(Nested list)

In [12]:
list_of_list = [
    [1, 2, 3],
    [4, 5, 6, 7],
    [8, 9]
]
list_of_list

[[1, 2, 3], [4, 5, 6, 7], [8, 9]]

In [14]:
for row in list_of_list:
    for col in row:
        print(col, end=' ')
    print()

1 2 3
4 5 6 7
8 9

In [7]:
# Q5. 짝수 번째 요소를 제곱
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(0, 4):
    j = i*2 + 1
    print(f'i = {i}, j = {j}')
    numbers[j] = numbers[j] ** 2
print(numbers)

i = 0, j = 1
i = 1, j = 3
i = 2, j = 5
i = 3, j = 7
[1, 4, 3, 16, 5, 36, 7, 64, 9]

In [14]:
# Q4. output -> [[1, 2, 3], [4, 5, 6], [7, 8, 9]] 이 되도록 출력하라
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
output = [[], [], []]

for number in numbers:
    output[((number-1)//3)].append(number)

print(output)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
# Q3. 홀수/짝수 and 자릿수
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]
for number in numbers:
    even_odd = '짝수' if number % 2 == 0 else '홀수'
    print(f'{number} 는 {even_odd}입니다.')

print()
for number in numbers:
    print(f'{number} 는 {len(str(number))} 자릿수입니다.')

273 는 홀수입니다.
103 는 홀수입니다.
5 는 홀수입니다.
32 는 짝수입니다.
65 는 홀수입니다.
9 는 홀수입니다.
72 는 짝수입니다.
800 는 짝수입니다.
99 는 홀수입니다.

273 는 3 자릿수입니다.
103 는 3 자릿수입니다.
5 는 1 자릿수입니다.
32 는 2 자릿수입니다.
65 는 2 자릿수입니다.
9 는 1 자릿수입니다.
72 는 2 자릿수입니다.
800 는 3 자릿수입니다.
99 는 2 자릿수입니다.

In [20]:
# Q2. 100이상의 숫자만 출력
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]
for number in numbers:
    if number >= 100:
        print(f'- 100 이상의 수:{number}')

- 100 이상의 수:273
- 100 이상의 수:103
- 100 이상의 수:800

In [21]:
# Q1. 다음 조건의 실행 결과 list_a 에 들어가 있는 값은?
list_a = [0, 1, 2, 3, 4, 5, 6, 7]
list_a.extend(list_a)
print(list_a)

[0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7]

In [22]:
list_a.append(10)
print(list_a)

[0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7, 10]

In [23]:
list_a.insert(3, 0)
print(list_a)

[0, 1, 2, 0, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7, 10]

In [24]:
list_a.remove(3)
print(list_a)

[0, 1, 2, 0, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7, 10]

In [25]:
list_a.pop(3)
print(list_a)

[0, 1, 2, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7, 10]

In [26]:
list_a.clear()
print(list_a)

[]